.lamp{ 
    display: none;
    height: 40vmin;
    overflow: visible !important;
    cursor: pointer;
    opacity: 0;
}
.lamp__tongue{
    fill: var(--tongue);
    stroke: var(--cord);
}
.lamp__light{
    opacity: var(--on, 0);
}